.dashboard-main{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.dashboard-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.my-cars-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-content: center;
  // align-items: center;
  width: 100%;
  margin: 1rem;
}

.my-cars-container p {
  width: 250px;
  height: 50px;
  border-radius: 40px;
  margin-right: 10px;
  cursor: pointer;
  transition: width 0.5s ease-in-out;
}

.reservations-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-content: center;
  // align-items: center;
  width: 100%;
  margin: 1rem;
}

.reservations-container p {
  width: 250px;
  height: 50px;
  border-radius: 40px;
  margin-right: 10px;
  cursor: pointer;
  transition: width 0.5s ease-in-out;
}

section{
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

section{
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  justify-content: space-between;
  margin: 1rem;
}

.notifications-container p {
  width: 250px;
  height: 50px;
  border-radius: 40px;
  margin-right: 10px;
  cursor: pointer;
  transition: width 0.5s ease-in-out;
}

.notifications-container p:hover {
  height: 200px;
}

.reservations-container p:hover {
  height: 200px;
}

.my-cars-container p:hover{
  height: 200px;
}

.notifications-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 1rem;
}

section:hover{
  background: rgba(255, 255, 255, 0.37);
}

.booking-item-container{
  display: flex;
  flex-direction: row;
  width: auto;
}

.dashboard-main h2{
  font-size: 30px;
  background: -webkit-linear-gradient(90deg,#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Russo One', sans-serif;
  margin-left: 1rem;
}

.dash-img{
  width: 100px;
  height: auto;
  padding: 2px;
  border-radius: 50%;
  margin: 1rem;
}
