// Specific CSS for your home-page
// Import your components CSS files here.
body {
  background: black;
  height: 100vh;
}

.layout-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
  height: 87vh;
  align-items: flex-end;
  position: relative;
}

.layout-container .img{
  align-self: center;
  width: 1000px;
  height: auto;
  padding-right: 4rem;
}

.layout-container .footer-container{
background: linear-gradient(90deg, rgba(255, 255, 255, 0.17) 0%, rgba(112, 112, 112, 0.642) 49%, rgba(255, 255, 255, 0) 100%);;
border-top-left-radius: 40px;
border-top-right-radius: 40px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
height: 10rem;
display: flex;
justify-content: center;
align-content: center;
align-items: center;
position: absolute;
width: 100%;
bottom: 0;
left: 0;
}
// ------------FOOTER---------------//
.layout-container .footer-container{
  z-index: 10px;
}

.footer-elements-container{
  width: 1000px;
  height: 8rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.444);
  border-radius: 40px;
  filter: drop-shadow(16px 16px 10px black);
}

.footer-elements-container form{
  display: flex;
  padding: 30px;
}

.footer-container p{
  color: white;
}

.info-container {
  display: flex;
  flex-direction: column;
  padding: 4rem 4rem 4rem 0rem;
}

.info-container input{
  background: transparent;
  border: none;
}

::placeholder{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  opacity: 0.5;
}


.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  filter:drop-shadow(0px 0px 16px #f4c63a76);
}

.search-btn input{
  background: linear-gradient(90deg,#EEB60A, #FFE491);
  height: 4rem;
  width: 8rem;
  border-radius: 10px;
  border: 0;
  text-align: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  font-family: Arial, Helvetica, sans-serif;
}

.search-btn a:link{
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

 .search-btn i{
  position: absolute;
  padding-right: 3.5rem;
  color:black;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* placeholder text style */
input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
  color: rgba(255, 255, 255, 0.498);
}

/* regular text style */
input[type="date"].date-input--has-value::-webkit-datetime-edit-text,
input[type="date"].date-input--has-value::-webkit-datetime-edit-month-field,
input[type="date"].date-input--has-value::-webkit-datetime-edit-day-field,
input[type="date"].date-input--has-value::-webkit-datetime-edit-year-field {
  color: #ffffff;
}
