// Import page-specific CSS files here.

@import "home";

.cars-main-container {
    display: flex;
    background-color: gray;
}

<<<<<<< HEAD
=======
.filter-container {
    width: 25%;
    background-color: blue;
    
}

.listings-container {
    overflow-y: auto;
    
}

>>>>>>> 72a794532a7248fda98933eacbc47ec22e2a5da8
