.big-container {
  background-color: grey;
  color: white;
}
// the container for the left half of the screen with the infos
.left-car-info-container {
  background-color: aqua;

}
// the container for the right half of the screen with the booking form
.right-car-booking-container {
  background-color: bisque;

}
