<!---this one should be displayed for around 5 seconds-->


<h1>We have received your booking request, we will get back to you shortly</h1>
<%= link_to "Go Back", cars_path, class: "btn btn-show-car-page" %>
<%= link_to "See request", users_dashboard_path, class: "btn btn-show-car-page"  %>
