
<div class="layout-container">
  <%= image_tag "ferrari.png", class:"img" %>
  <div class="footer-container">
    <div class="footer-elements-container">


      <%# <ul>
        <li><p>Choose a Location</p><input type="text" name="" id="" placeholder="Barcelona"></li>
        <li><p>Pick-up Date</p><input type="date"></li>
        <li><p>Return Date</p><input type="date"></li>
        <li><button>Search</button></li>
      </ul> %>
    </div>
  </div>
  <%# <p>Find me in app/views/pages/home.html.erb</p> %>
  <%# <%= link_to "Sign in", new_user_session_path %>
  <%# <%= link_to "Log out", destroy_user_session_path %>
</div>
