@import "../components/index";

body {
  background: black;
  color: white;
  padding: 15px;
}

#center-title {
  align-items: center;
}

.btn-create {
  background-color: #F4C73A;
    color: black;
    border-radius: 5px;
}

.flex-right {
  flex: 1;
}
