.filter-container h4 {
    color: white;
    padding-left: 5%;

}

.filter-container .location-text-field {
    border-radius: 10px;
    border: none;
    width: 265px;
    background-color: #D8D8D8;
}


.filter-container .date-field {
    border-radius: 10px;
    border: none;
    background-color: #D8D8D8;
    width: 265px;

}
.filter-container .date-field input{
    color-scheme: light;
}

.filter-container .price-text-field {
    border-radius: 10px;
    border: none;
    margin-right: 3px;
    background-color: #D8D8D8;
}

.filter-container .button-field {
    border-radius:10px;
    background:linear-gradient(to right, #EEB70C, #FEE28D);
    width: 100px;
    font-weight: bold;
    border:none;
    display: flex;
    justify-content: center;
}

.end_price {
    display: flex;
    justify-content:end;
}

.button-container {
    display: flex;
    justify-content: center;
}

.filter-container .filter-div {
    height: 425px;
    width: 300px;
    margin-left:10px;
    background: linear-gradient(grey, #505050);
    padding:15px;
    border-radius: 20px;
    box-sizing: border-box;
}

.filter-container .text-field-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;
}

.filter-container .text-field-container input[type="text"] {
    width: 100px;
}

.filter-container {
    height: 400px;
    width: 25%;
}
.filter-container .text-field-container input[type="placeholder"]{
    color:white;
}


.filter-container .form-field {
    border-radius: 10px;
}

.filter-container .location-container {
    padding-bottom: 5%;
}

.filter-container .location-container h6 {
    color: white;
}

.filter-container .availability-container {
    padding-bottom: 5%;
}

.filter-container .availability-container h6 {
    color: white;
}

.filter-container .price-container p {
    margin-bottom: -1px;
    color: white;
}

.filter-container .availability-container p {
    margin-bottom: -2px;
    color: rgba(255, 255, 255, 0.486);
    font-size: 14px;
}

.slider{
  height: 10px;
  border-radius: 10px;
  background: #424242;
  position: relative;
}

.slider .progress{
  height: 10px;
  position: absolute;
  left: 10%;
  right: 10%;
  border-radius: 5px;
  background: black;
}

.text-field-container{
  display: flex;
  flex-direction: row;
}

.text-field-container input{
  width: 6rem;
}

.range-input input{
  position: absolute;
  height: 10px;
  width: 100%;
  -webkit-appearance: none;
  background: none;
  pointer-events: none;
}

input[type="range"]::-webkit-slider-thumb{
  height: 17px;
  width: 17px;
  background: #EEB70C;
  -webkit-appearance: none;
  pointer-events: auto;
  border-radius: 50%;
}
