.filter-container h4 {
    color: white;
    padding-left: 5%;
}

.filter-container .filter-div {
    height: 300px;
    background-color: grey;
    border-radius: 5px;
    padding:15px;
}

.filter-container {
    height: 400px;
    width: 25%;
    background-color: blue;
}


.filter-container .form-field {
    border-radius: 10px;
}