.submit-btn{
  background: linear-gradient(90deg,#EEB60A, #FFE491);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.submit-btn:hover{
  opacity: 0.8;
  color: black;
}
