.listings-container{
  height: 80vh;
  width: auto;
  background: black;
  overflow-y: auto;
}

.listing-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: white 2px solid;
  background: rgb(147, 166, 173);
  border-radius: 20px;
  padding: 2rem;
  margin: 1rem 0rem;
}

.listings-container img{
  width: 300px;
  height: 200px;
  border-radius: 20px;
}

.listing-container .car-info{
  width: 600px;
  margin-left: 3rem;
  background: #B9B9B9;
  border-radius: 20px;
}
