// main container
.listings-container{
  height: 80vh;
  width: auto;
  background: black;
  overflow-y: auto;
  padding-left: 1rem;
}

.listing-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: linear-gradient(90deg, #636363, #63636300);
  border-radius: 20px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0rem 1rem 1rem 0rem;
  box-shadow: rgba(255, 255, 255, 0.16) 0px 10px 36px 0px, rgba(255, 255, 255, 0.06) 0px 0px 0px 1px;
  color: black;
}

// main container elements
.listings-container img{
  width: 400px;
  height: 300px;
  border-radius: 20px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.car-info{
  background: rgb(212, 212, 212);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  width: 800px;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-left: 1rem;
  align-content: space-between;
}

// car info elements top
.car-info-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start
}

// price

.car-price-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2rem;
  width: 3rem;
}

.car-price{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: rgb(0, 0, 0);
}

.car-price p{
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.car-price-container h4{
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-right: 1rem;
}

.description{
  width: 500px;
}

.description p{
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

// car info elements bottom
.car-info-bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.start-date, .end-date {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.end-date h4{
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 0 !important;
}

.start-date h4{
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 0 !important;
}

.book-btn {
  background: linear-gradient(90deg,#EEB60A, #FFE491);
  height: 3rem;
  width: 8rem;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.listing-container a:link{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}

a:visited{
  color: black;
}

h4{
  padding-left: 1rem;
}
