.navbar-superent {
  font-family: 'Russo One', sans-serif;
  justify-content:space-between;
}

.log-in-btn {
  background-color: #F4C73A;
  color: black;
  border-radius: 5px;
}

.navbar-logo-name{
  font-family: 'Russo One', sans-serif;
  letter-spacing: 10px;
  text-decoration: underline solid #F4C73A 5px;
  color: white;
}

.navbar-menu-list li {
  color: white;
  display: inline-block;
}

.navbar-menu-list a{
  text-decoration: none;
  color: #535353;
}

.navbar-menu-list a:active{
  color: #F4C73A;
}

 .nav-container {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav-container button{
  filter:drop-shadow(0px 0px 16px #f4c63a76);
  width: 8rem;
}

.navbar-menu-login-container {
  display: flex;
  flex-direction: row;
  gap:16px;
}

.navbar-login-container {
  display: flex;
  flex-direction: row;
}

.create-btn, i{
  display: flex;
  text-decoration: none;
  color: white;
  text-align: center;
  align-items: center;
  align-content: center;
  margin-right: 2rem;
}

.create-btn i{
  padding: 0.8rem;
  border: white 1px solid;
  border-radius: 50%;
}

.create-btn i:hover{
  background-color: rgb(255, 255, 255);
  color: black;
}
