
.nav-container {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.navbar-superent {
  font-family: 'Russo One', sans-serif;
  justify-content: space-between;
}

.log-in-btn {
  background-color: #F4C73A;
  color: black;
  border-radius: 10px;
  border: none;
}

.log-out-btn{
    background-color: #F4C73A;
    color: black;
    border-radius: 10px;
    border: none;
}

.profile-link{
  background-color: white;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  margin-right: 2rem;
  border: none;
}

.navbar-logo-name {
  font-family: 'Russo One', sans-serif;
  letter-spacing: 10px;
  text-decoration: underline solid #F4C73A 5px;
  color: white;
}

.navbar-menu-list {
  display: flex;
  justify-content: space-between;
  margin-left: -35px;
}

.navbar-menu-list li a {
  color: rgba(255, 255, 255, 0.566);
  display: inline-block;
  text-decoration: none;
}

.navbar-menu-list li {
  margin-top: 10px;
  list-style-type: none;
  padding: 10px;
}

.navbar-menu-list a:active{
  color: #F4C73A;
}

.nav-container button{
  filter:drop-shadow(0px 0px 16px #f4c63a76);
  width: 8rem;
}

.navbar-login-container {
  display: flex;
  flex-direction: row;
}

.create-btn, i{
  display: flex;
  text-decoration: none;
  color: white;
  text-align: center;
  align-items: center;
  align-content: center;
  margin-right: 2rem;
}

.create-btn i{
  padding: 0.8rem;
  border: white 1px solid;
  border-radius: 50%;
}

.create-btn i:hover{
  background-color: rgb(255, 255, 255);
  color: black;
}
